@import "tailwindcss";

@theme {
  /* Your Nurture Her Mauve */
  --color-brand-mauve: #766371; 
  
  /* Setting up the 'Editorial' font feel */
  --font-serif: "Playfair Display", "Merriweather", serif;
  --font-sans: "Lato", "Inter", sans-serif;
}

/* Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}